/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/storage/temp
public/storage/profile-photos/KGY41Q2o7Br9nSWAnpCoT8xoW01bSVFhT0RmKJST.png
public/storage/profile-photos/KcVkH3zZ7KubMrRKR4IefYVU8gY7ksGkHo3anqnG.png
public/storage/profile-photos/4rwzgsPofXPqojbTObpVsmKyKY9p37eLMrOwNivf.png
public/storage/profile-photos/IQY6oQg4DDdDm7sdyG729JUr1Mks9xWtaaWlJREV.png
docker-compose.override.yml
